/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-primary: #ffa700;
  --clr-light: #ffffff;
  --clr-dark: #333333;
  --font: "Poppins", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: --clr-dark;
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  padding: 0 1.5rem;
  max-width: 120rem;
  margin: 0 auto;
}

.header {
  padding: 3rem 0rem;
  background-color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 999;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__logo h5 {
  color: var(--clr-light);
  font-weight: 700;
}
.header__logo h5 > span {
  color: var(--clr-primary);
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.header__nav ul li a {
  color: var(--clr-light);
}

.header__nav ul li a:hover {
  color: var(--clr-primary);
  transition: 0.5s ease-in-out;
}

.toggle__menu {
  display: none;
}

.toggle__menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}

@media screen and (max-width: 520px) {
  .header__logo h5 {
    display: none;
  }
  .header__nav ul {
    background-color: var(--clr-dark);
    height: 100vh;
    width: 100%;
    position: fixed;
    right: -100%;
    z-index: 1;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .toggle__menu span {
    display: block;
  }

  .header__nav.open ul {
    right: 0;
    transition: all 0.5s ease-in-out;
  }

  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: all 0.5s ease-in-out;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .toggle__menu.open span:last-child {
    transform: translate(0, -7.5px) rotate(-225deg);
    transition: all 0.5s ease-in-out;
  }
}
/* Home CSS */

.banner {
  padding: 4rem 0;
  background-color: var(--clr-light);
}

.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}

.banner__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  max-width: 10rem;
  line-height: 7rem;
}

.banner__text p {
  margin: 3rem 0;
}

@media screen and (max-width: 520px) {
  .banner__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .banner__text h1 {
    font-size: 48px;
    max-width: unset;
    line-height: 5rem;
  }
  .banner__img img {
    width: 20rem;
  }
}

/* Skills */
.skills {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.skills__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.skills__card {
  text-align: center;
}

.skills__card h5 {
  color: var(--clr-primary);
  font-weight: 700;
  margin-top: 2rem;
}

.skills__card p {
  color: var(--clr-light);
  margin: 3rem 0;
  text-align: justify;
}

@media screen and (max-width: 520px) {
  .skills__wrapper {
    flex-wrap: wrap;
  }
}

.about {
  padding: 4rem 0;
  background-color: var(--clr-light);
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about__img {
  position: relative;
}

.about__img::before {
  position: absolute;
  display: inline-block;
  content: "";
  background-color: var(--clr-primary);
  width: 477px;
  height: 477px;
  border-radius: 100%;
  left: 0;
  opacity: 0.3;
}

.about__text h2 {
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 2rem;
}

.about__text p:last-child {
  margin-top: 2rem;
}

@media screen and (max-width: 520px) {
  .about__wrapper {
    padding: 4rem 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .about__img img,
  .about__img::before {
    width: 20rem;
    height: 20rem;
  }

  .about__text h2 {
    text-align: center;
  }
}
.trends {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}

.trends__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}

@media screen and (max-width: 520px) {
  .trends__wrapper {
    flex-wrap: wrap;
  }
}

.cta {
  padding: 4rem 0;
  background-color: var(--clr-primary);
}

.cta__info {
  text-align: center;
}

.cta__info h3 {
  font-weight: 600;
}

.cta__info p {
  margin-bottom: 2rem;
}

@media screen and (max-width: 520px) {
  .cta__info h3 {
    margin-bottom: 1px;
  }
}

.footer {
  padding: 2rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.footer__wrapper {
  display: flex;
  text-decoration: row;
  justify-content: space-between;
}

.footer__socials {
  display: flex;
  gap: 2rem;
}

.footer__socials li a {
  color: var(--clr-light);
  font-size: 18px;
}

.footer__socials li a:hover {
  color: var(--clr-primary);
}

@media screen and (max-width: 520px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

/* About Me CSS */
.bannerAbout {
  padding: 4rem 0;
  background-color: var(--clr-light);
}

.bannerAbout__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bannerAbout__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}

.bannerAbout__text p {
  max-width: 60rem;
  text-align: justify;
  margin-top: 2rem;
}

.bannerAbout__socials ul {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.bannerAbout__socials li a {
  font-size: 30px;
  color: var(--clr-primary);
}

@media screen and (max-width: 520px) {
  .bannerAbout__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .bannerAbout__socials li a {
    font-size: 24px;
  }

  .bannerAbout__img img {
    margin-top: 2rem;
    width: 20rem;
    height: 20rem;
  }
}

/* Projects */
.projects {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}
.projects .title p {
  color: var(--clr-light);
}
.projects__wrapper {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

@media screen and (max-width: 520px) {
  .projects__wrapper {
    grid-template-columns: 1fr;
  }
}

/* Services CSS */
.services {
  background-color: var(--clr-light);
}

.services__wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.services__wrapper:first-child {
  min-height: 85vh;
}

.services__wrapper .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 4rem 0rem;
  align-items: center;
}

.services__wrapper:nth-child(even) {
  background-color: var(--clr-dark);
}

.services__wrapper:nth-child(even) .container {
  direction: rtl;
}

.services__wrapper:nth-child(even) .container > * {
  direction: ltr;
}

.services__wrapper:nth-child(even) .services__text p,
.services__wrapper:nth-child(even) .services__text h6 {
  color: var(--clr-light);
}

.services__text h2 {
  font-weight: 700;
  color: var(--clr-primary);
}

.services__text p {
  text-align: justify;
  margin-top: 2rem;
}

.services__text p:nth-of-type(3) {
  margin-top: 5rem;
}

.services__text h3 {
  font-weight: 700;
  color: var(--clr-primary);
  margin-top: 1rem;
}

.services__text h6 {
  margin-top: 1rem;
}

.services__img img {
  width: 100%;
  height: auto;
  display: block;
  padding-left: 40px;
}

.services__wrapper:nth-child(even) .services__img img {
  padding-right: 40px;
}

.services .chevron {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.services__wrapper:last-child .chevron {
  display: none;
}

.services__wrapper:last-child {
  min-height: 80vh;
}

@media (max-width: 520px) {
  .services {
    padding: 2rem 0;
  }

  .services__wrapper {
    min-height: auto;
    padding: 4rem 0;
  }

  .services__wrapper .container {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0 2rem;
    text-align: center;
  }

  .services__text {
    order: 2;
    margin-top: auto;
    padding: 2rem 0;
  }

  .services .chevron {
    order: 3;
  }
  .services__text p:nth-of-type(3) {
    text-align: center;
  }

  .services__img {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .services__img img {
    width: 50%;
    padding-left: 0;
  }

  .services__wrapper:nth-child(even) .services__img img {
    padding-right: 0;
  }

  .chevron {
    margin-top: 2rem;
  }
}

.services__wrapper:last-child .chevron {
  display: none;
}

/* Updates */
.update {
  padding: 4rem 0;
  background-color: var(--clr-light);
}

.update__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 7rem;
  padding: 8rem 0rem;
}

.update .title h1 {
  font-weight: 700;
  color: var(--clr-primary);
}
/* Updates Left */

.update__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update__container:last-child {
  margin-top: 10rem;
}

.update__img img {
  width: 100%;
}

.img__tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img__tags ul {
  display: flex;
  gap: 6rem;
  margin-top: 1rem;
}
.img__tags ul li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.img__tags ul i {
  font-size: 18px;
}

.update__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update__text h3 {
  font-weight: 600;
  color: var(--clr-primary);
  margin: 4rem 0 2rem 0;
}
.update__text p {
  margin: 2rem 0;
  text-align: justify;
}

/* Update Right */

.update__categories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 11rem;
  margin-bottom: 9rem;
}

.update__categories h4 {
  font-weight: 500;
  color: var(--clr-primary);
}

.update__categories table {
  width: 100%;
}

.update__categories table td {
  padding: 1rem 0;
}

.update__recent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15rem;
  margin-bottom: 10rem;
}
.update__recent h4 {
  font-weight: 500;
  color: var(--clr-primary);
}

.update__recent__wrapper {
  display: flex;
  gap: 1rem;
}

.recent__img {
  display: flex;
  align-items: center;
  width: 50%;
}

.recent__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.recent__text p {
  font-weight: bold;
}
.update__tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

.update__tags h4 {
  font-weight: 500;
  color: var(--clr-primary);
  margin-bottom: 3rem;
}

.update__tags .buttons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 0.9rem;
}

.tag {
  padding: 1.7rem 3rem;
  border-radius: 3rem;
  font-size: 18px;
  border: 1px solid var(--clr-dark);
  color: var(--clr-dark);
}

.tag.active,
.tag:hover {
  background: var(--clr-dark);
  color: var(--clr-light);
}

/* Assets */
.cards {
  margin: 0 auto;
  overflow: auto;
  background-color: var(--clr-light);
  border-radius: 3rem;
  border-bottom-left-radius: 3rem;
  display: flex;
  flex-direction: column;
}

.cards img {
  width: 100%;
  object-fit: cover;
  border-radius: rem;
}

.cards__details {
  background-color: var(--clr-light);
  width: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.cards__details h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 2rem 0;
}

.cards .cards__details p {
  color: #333333;
  margin-bottom: 3rem;
}

.title h2 {
  font-weight: 700;
  color: var(--clr-primary);
}

.trends .title p {
  color: var(--clr-light);
}
.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  color: transparent;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

.btn.btn.bg--dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.btn.btn.bg--dark:hover {
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}
.no-bg-btn {
  color: var(--clr-primary);
  transform: all 0.5s ease-in-out;
}

.no-bg-btn:hover {
  color: var(--clr-dark);
  transform: all 0.5s ease-in-out;
}

.chevron,
.chevron i {
  text-align: center;
  color: var(--clr-primary);
}
h1 {
  font-size: 71px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 18px;
}
@media screen and (max-width: 520px) {
  .title h2 {
    font-size: 36px;
  }

  .cards {
    width: 38rem;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
}
